# Ignore everything
*

# Allow only the 4 project folders under snowflake/tendri
!snowflake/
!snowflake/tendri/
!snowflake/tendri/data/
!snowflake/tendri/data/**
!snowflake/tendri/pickle_file/
!snowflake/tendri/pickle_file/**
!snowflake/tendri/new_stock_prediction/
!snowflake/tendri/new_stock_prediction/**
!snowflake/tendri/images/
!snowflake/tendri/images/**
!.gitignore
